In [508]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize 
from pandas import read_csv
import logging
from functools import reduce
import csv
from collections import defaultdict
import os
import uuid

In [592]:
#etl = 'kobo2elastic'
#etl = 'curis2elastic'
#etl = 'oldcuris2newcuris'
etl = 'cuartero2newaqm'
#etl = 'cambodia2newaqm'

input_schema_file = ''
input_data_file = ''
mapping_file = ''

root_object = 'resident'

if etl == 'curis2elastic':
    #old curis to elasticsearch
    input_schema_file = 'schema/input/curisSchema.1-item.json'
    input_data_file = 'data/curisData.1-items.json'
    mapping_file = 'schema/map/couchbase2elastic.map.csv'
    output_dir = 'file/curisSchema/'
    
elif etl == 'kobo2elastic':
    #kobo to elasticsearch
    input_schema_file = 'schema/input/koboSchema.1-item.json'
    input_data_file = 'data/koboData.2-items.json'
    mapping_file = 'schema/map/kobo2elastic.map.csv'
    output_dir = 'file/koboSchema/'
    
elif etl == 'oldcuris2newcuris':
    #kobo to elasticsearch
    input_schema_file = 'schema/input/curisSchema.1-item.json'
    input_data_file = 'data/curisData.1-item.json'
    mapping_file = 'schema/map/kobo2elastic.map.csv'
    output_dir = 'file/curisSchema/'
    
elif etl == 'cambodia2newaqm':
    #kobo to elasticsearch
    input_schema_file = 'schema/input/KHMSchema.json'
    input_data_file = 'data/KHM.3-items.json'
    mapping_file = 'schema/map/kobo2elastic.map.csv'
    output_dir = 'file/KHMSchema/'

elif etl == 'cuartero2newaqm':
    input_schema_file = 'schema/input/curisSchema.1-item.json'
    #input_data_file = 'data/Isabela.2-items.json'
    #mapping_file = 'schema/map/Philippines/2.2.AQMHealthInfoQuestionsV1.csv'
    #mapping_file = 'schema/map/Philippines/2.2.AQMHealthInfoQuestionsV1.csv'
    mapping_file = 'schema/map/Philippines/2.1.AQMGeneralQuestionsV1.csv'
    datelog_dir = 'couchbase-curis-2019-06-21-cuartero'
    processed_dir    = 'data/processed/' + datelog_dir + '/'
    tmp_dir    = 'data/processed/' + datelog_dir + '/tmp/'
    output_dir = 'data/processed/' + datelog_dir + '/'
    merged_dir = 'data/merged/' + datelog_dir + '/'

## TODO: CREATE FOLDER DIRECTORY MKDIR
## TODO: PARSED FIELD TYPE: LIST -- merged into single object

## TODO: FIX ID MERGING

## TODO: FIX _id into profileId

# READ MAPPING FILE

In [604]:
#def _get_mapping_fields():
_mapping_df = pd.DataFrame()
_mapping_df = read_csv(mapping_file).sort_values(['source_key']).replace(np.nan,'',regex=True)
_mapping_df

,source_key,source_type,destination_key,destination_key.1,data_type,data_source,data_format,default_value,lookup_value
0,profiles.civil_status,string,answers.civilStatus,string,existing,original,,,
2,profiles.education,string,answers.highestEducation,string,existing,original,,,
4,profiles.employment.is_employed,string,answers.employmentStatus,string,existing,original,,,
3,profiles.employment.nature,string,answers.employmentArea,string,existing,original,,,
1,profiles.religion,string,answers.religion,string,existing,original,,,
5,,,dateUpdated,timestamp,new,generated,timestamp,,
6,,,dateCreated,timestamp,new,generated,timestamp,2019-06-27T20:36:43.993+08:00,
7,,,formName,string,new,generated,,2.1 - AQM General Questions V1,
8,,,formId,string,new,generated,,AWviKwKDKxqtHWZMp2v4,
9,,,type,string,new,generated,,profile-related-form,

# GET REQUIRED FIELDS IN THE MAPPING

In [558]:
mapping_fields_list = []
mapping_fields_list = list(_mapping_df['source_key'].unique())
mapping_fields_list

['profiles.civil_status',
 'profiles.education',
 'profiles.employment.is_employed',
 'profiles.employment.nature',
 'profiles.religion',
 nan]

# GET FIELD NAMES OF THE SCHEMA using _META

In [578]:
meta_headers_df = pd.DataFrame()
meta_headers_df = pd.read_csv( 'data/processed/couchbase-curis-2019-06-21/_meta.csv')
meta_headers_df

,file_name,field_name,field_type
0,resident,middle_name,primitive
1,resident,birthdate,primitive
2,resident,id,primitive
3,resident,type,primitive
4,resident,first_name,primitive
5,resident,last_name,primitive
6,resident,last_name_suffix,primitive
7,resident,organization,primitive
8,resident,nhid,primitive
9,resident,gender,primitive
10,resident,registered_at,primitive
11,resident,address.postal_code,primitive
12,resident,address.country,primitive
13,resident,address.barangay,primitive
14,resident,identification.id3.type,primitive
15,resident,address.lot_or_house_number,primitive
16,resident,address.province,primitive
17,resident,identification.id1.type,primitive
18,resident,identification.id2.type,primitive
19,resident,profile_picture.path,primitive
20,resident,contact_number.number,primitive
21,resident,user-cam.id,primitive
22,resident,contact_number.country_code,primitive
23,resident,profile_picture.name,primitive
24,resident,identification.id2.identifier,primitive
25,resident,identification.id3.identifier,primitive
26,resident,identification.id1.identifier,primitive
27,resident,user-cam.owner,primitive
28,health_informations,_id,primitive
29,health_informations,_index_map,primitive
...,...,...,...
120,disabilities,_index_map,primitive
121,disabilities,disabilities.disabled,primitive
122,disabilities,disabilities.date_updated,primitive
123,disabilities.type,_id,list
124,disabilities.type,_index_map,list
125,disabilities.type,disabilities.type,list
126,family_members,_id,list
127,family_members,_index_map,list
128,family_members,family_members,list
129,family_planning_and_maternal_healths,_id,primitive
130,family_planning_and_maternal_healths,_index_map,primitive
131,family_planning_and_maternal_healths,family_planning_and_maternal_healths.are_you_p...,primitive
132,family_planning_and_maternal_healths,family_planning_and_maternal_healths.date_updated,primitive
133,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
134,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
135,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
136,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
137,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
138,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
139,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
140,family_planning_and_maternal_healths,family_planning_and_maternal_healths.not_pregn...,primitive
141,family_planning_and_maternal_healths.not_pregn...,_id,list
142,family_planning_and_maternal_healths.not_pregn...,_index_map,list
143,family_planning_and_maternal_healths.not_pregn...,family_planning_and_maternal_healths.not_pregn...,list
144,family_planning_and_maternal_healths.not_pregn...,_id,list
145,family_planning_and_maternal_healths.not_pregn...,_index_map,list
146,family_planning_and_maternal_healths.not_pregn...,family_planning_and_maternal_healths.not_pregn...,list
147,family_planning_and_maternal_healths.not_pregn...,_id,list
148,family_planning_and_maternal_healths.not_pregn...,_index_map,list
149,family_planning_and_maternal_healths.not_pregn...,family_planning_and_maternal_healths.not_pregn...,list

In [579]:
match_headers_df = pd.DataFrame()
match_headers_df = meta_headers_df[meta_headers_df['field_name'].isin(mapping_fields_list)]
match_headers_df = match_headers_df.sort_values(['file_name','field_name']).reset_index(drop=True)
match_headers_df

  file_name                       field_name field_type
0  profiles            profiles.civil_status  primitive
1  profiles               profiles.education  primitive
2  profiles  profiles.employment.is_employed  primitive
3  profiles       profiles.employment.nature  primitive
4  profiles                profiles.religion  primitive

# CREATE DEFAULT DICT FOR FILENAME AS KEY and FIELD NAMES AS VALUE

In [580]:
filename_per_field_dd = defaultdict(list)

for index,row in match_headers_df.iterrows():
    filename = row['file_name']
    fields = row['field_name']
    filename_per_field_dd[filename].append(fields)  
    
filename_per_field_dd

defaultdict(list,
            {'profiles': ['profiles.civil_status',
              'profiles.education',
              'profiles.employment.is_employed',
              'profiles.employment.nature',
              'profiles.religion']})

## CREATE A SINGLE FILE WITH ALL HEADERS

## TODO: FIlename must be dynamic

In [563]:
file_name = 'general_questions'
file_type = '.csv'

mandatory_headers_list = ['_id','_index_map']
_column_list = mandatory_headers_list + mapping_fields_list 
empty_df = pd.DataFrame(columns = _column_list )
empty_df.to_csv(merged_dir + file_name + file_type, encoding='utf-8', mode='w',header=True,index=False)

## GET THE DATA FOR EACH HEADERS

# TODO: WHAT IS APPEND FOR DATAFRAMES JOIN BY _INDEX_ID

## MERGE JOIN BY _id and _index_map

## WRITE EMPTY CSV FOR MERGE.csv

In [597]:
test_filename_per_field_dd = {
    'health_informations': ['health_informations.allergies',
              'health_informations.blood_pressure.first_reading.diastole',
              'health_informations.blood_pressure.first_reading.systole',
              'health_informations.blood_pressure.second_reading.diastole',
              'health_informations.blood_pressure.second_reading.systole',
              'health_informations.blood_sign',
              'health_informations.blood_type',
              'health_informations.exercise_in_a_week',
              'health_informations.smoking_habit'],
    'health_informations.family_history': ['health_informations.family_history']}

test_filename_per_field_dd = {'profiles': ['profiles.civil_status','profiles.employment.is_employed','profiles.education','profiles.employment.nature','profiles.religion']}

fields_list = list(test_filename_per_field_dd.values())
flat_fields_list = [item for sublist in fields_list for item in sublist]
all_fields_list  = ['_id','_index_map'] + flat_fields_list

#os.remove(merged_dir + 'general_questions' + '.csv', )
empty_data_df = pd.DataFrame(columns=all_fields_list)
empty_data_df.to_csv(merged_dir + 'general_questions'+ '.csv', encoding='utf-8', mode='w', header=True,index=False)

In [ ]:
test_filename_per_field_dd = {
          
          'resident': ['gender','birthdate'],
          'profiles': ['profiles.employment.monthly_income'],
          'health_informations': [
              'health_informations.allergies',
              'health_informations.blood_sign',
              'health_informations.blood_type',
              'health_informations.exercise_in_a_week',
              'health_informations.smoking_habit'],
          'family_planning_and_maternal_healths': [
              'family_planning_and_maternal_healths.are_you_pregnant',
              'family_planning_and_maternal_healths.date_updated']
          }

In [281]:
test_df = pd.DataFrame()
for filename, fields in test_filename_per_field_dd.items():
    print('\n')
    print('---FILENAME: ', filename)
    print('---FIELDS: ',fields)

    
    _individual_data_df = pd.DataFrame()
    _individual_data_df = pd.read_csv(processed_dir + filename + '.csv').sort_values(['_id','_index_map'])  
    
    filename_fields_list = ['_id','_index_map'] + fields
    _individual_data_df = _individual_data_df[filename_fields_list]
    
    _required_data_df = pd.read_csv(merged_dir + 'health_informations'+ '.csv',nrows=0)
    
    for index, row in _individual_data_df.iterrows():

        #_unique_id_index_df = pd.read_csv(merged_dir + 'health_informations'+ '.csv', dtype={'_index_map': str})[['_id','_index_map']].replace(np.nan,'',regex=True)
        #_uniqued_ids_list = list(_unique_id_index_df['_id'].unique())
        #_existing_id = ''
        
        for header in row.index:
            
            data_value = row[header]
            print('HEADER :' + header + '  value: ' + str(value) )
            
            
            if header == '_id':
                if data_value in _uniqued_ids_list:
                    _existing_id = unique_id_index_df[unique_id_index_df['_id'] == data_value].index[0]
                    
                    
                    print('existing at id: ', data_value)
                    print(_existing_id)
                    _required_data_df.at['',header] = row[header]
                else:
                    print('not existing')
                    _required_data_df.at['',header] = row[header]
            else:
                _required_data_df.at['',header] = row[header]
        print('------')
        
        
        _required_data_df.to_csv(merged_dir + 'health_informations'+ '.csv', encoding='utf-8', mode='a',header=False,index=False)

---FILENAME:  resident
---FIELDS:  ['gender', 'birthdate']
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  2f920d39-319e-4bf7-90c8-6133c3337af7
0
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :gender  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :birthdate  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  64c2e7de-0cc8-4df5-a54f-02398652c080
1
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :gender  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :birthdate  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------


---FILENAME:  profiles
---FIELDS:  ['profiles.employment.monthly_income']
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  2f920d39-319e-4bf7-90c8-6133c3337af7
0
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :profiles.employment.monthly_income  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  64c2e7de-0cc8-4df5-a54f-02398652c080
1
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :profiles.employment.monthly_income  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------


---FILENAME:  health_informations
---FIELDS:  ['health_informations.allergies', 'health_informations.blood_sign', 'health_informations.blood_type', 'health_informations.exercise_in_a_week', 'health_informations.smoking_habit']
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  2f920d39-319e-4bf7-90c8-6133c3337af7
0
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.allergies  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.blood_sign  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.blood_type  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.exercise_in_a_week  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.smoking_habit  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  2f920d39-319e-4bf7-90c8-6133c3337af7
0
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.allergies  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.blood_sign  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.blood_type  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.exercise_in_a_week  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.smoking_habit  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  64c2e7de-0cc8-4df5-a54f-02398652c080
1
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.allergies  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.blood_sign  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.blood_type  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.exercise_in_a_week  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :health_informations.smoking_habit  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------


---FILENAME:  family_planning_and_maternal_healths
---FIELDS:  ['family_planning_and_maternal_healths.are_you_pregnant', 'family_planning_and_maternal_healths.date_updated']
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  2f920d39-319e-4bf7-90c8-6133c3337af7
0
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :family_planning_and_maternal_healths.are_you_pregnant  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :family_planning_and_maternal_healths.date_updated  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  2f920d39-319e-4bf7-90c8-6133c3337af7
0
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :family_planning_and_maternal_healths.are_you_pregnant  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :family_planning_and_maternal_healths.date_updated  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------
HEADER :_id  value: 01/01/2009 at 08:44:13 PM GMT+08:00
existing at id:  64c2e7de-0cc8-4df5-a54f-02398652c080
1
HEADER :_index_map  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :family_planning_and_maternal_healths.are_you_pregnant  value: 01/01/2009 at 08:44:13 PM GMT+08:00
HEADER :family_planning_and_maternal_healths.date_updated  value: 01/01/2009 at 08:44:13 PM GMT+08:00
------

In [596]:
os.remove(merged_dir + 'general_questions'+ '.csv', )

In [594]:

test_filename_per_field_dd = {
    'health_informations': ['health_informations.allergies',
              'health_informations.blood_pressure.first_reading.diastole',
              'health_informations.blood_pressure.first_reading.systole',
              'health_informations.blood_pressure.second_reading.diastole',
              'health_informations.blood_pressure.second_reading.systole',
              'health_informations.blood_sign',
              'health_informations.blood_type',
              'health_informations.exercise_in_a_week',
              'health_informations.smoking_habit'],
    'health_informations.family_history': ['health_informations.family_history']}


fields_list = list(test_filename_per_field_dd.values())
flat_fields_list = [item for sublist in fields_list for item in sublist]
all_fields_list  = ['_id','_index_map'] + flat_fields_list


empty_data_df = pd.DataFrame(columns=all_fields_list)
empty_data_df.to_csv(merged_dir + 'health_informations'+ '.csv', encoding='utf-8', mode='w', header=True,index=False)

In [350]:



for filename, fields in test_filename_per_field_dd.items():
    print('\n')
    print('---FILENAME: ', filename)
    print('---FIELDS: ',fields)

    
    _individual_data_df = pd.DataFrame()
    _individual_data_df = pd.read_csv(processed_dir + filename + '.csv').sort_values(['_id','_index_map'])  
    
    filename_fields_list = ['_id','_index_map'] + fields
    _individual_data_df = _individual_data_df[filename_fields_list]
    
    _required_data_df = pd.read_csv(merged_dir + 'health_informations'+ '.csv',nrows=0)

    for index, row in _individual_data_df.iterrows():

        #_unique_id_index_df = pd.read_csv(merged_dir + 'health_informations'+ '.csv', dtype={'_index_map': str})[['_id','_index_map']].replace(np.nan,'',regex=True)
        #_uniqued_ids_list = list(_unique_id_index_df['_id'].unique())
        #_existing_id = ''
        _index_loc = ''
        for header in row.index:
        
            _unique_id_index_df = pd.read_csv(merged_dir + 'health_informations'+ '.csv', dtype={'_index_map': str})[['_id','_index_map']].replace(np.nan,'',regex=True)
            _uniqued_ids_list = list(_unique_id_index_df['_id'].unique())
            print('UNIQUE LSIT' , _uniqued_ids_list  )
        
            value = row[header]
            _required_data_df.at['',header] = value

                
        
        _required_data_df.to_csv(merged_dir + 'health_informations'+ '.csv', encoding='utf-8', mode='a',header=False,index=False)

---FILENAME:  resident
---FIELDS:  ['gender', 'birthdate']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']


---FILENAME:  profiles
---FIELDS:  ['profiles.employment.monthly_income']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']


---FILENAME:  health_informations
---FIELDS:  ['health_informations.allergies', 'health_informations.blood_sign', 'health_informations.blood_type', 'health_informations.exercise_in_a_week', 'health_informations.smoking_habit']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']


---FILENAME:  family_planning_and_maternal_healths
---FIELDS:  ['family_planning_and_maternal_healths.are_you_pregnant', 'family_planning_and_maternal_healths.date_updated']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']
UNIQUE LSIT ['2f920d39-319e-4bf7-90c8-6133c3337af7', '64c2e7de-0cc8-4df5-a54f-02398652c080', '']

## TEST LIST ALLR REQUIRED FIELDS

## TEST FIELD NAME ONLY

## GET PRE_FORMED CSV

## GET DATA SOURCE -- ITERATE FILENAME HERE!!

## ITERATE GET DATA SOURCE BY EACH FILENAME

## ITERATE DATA SOURCE TO INSERT INDIVIDUALLY PER CELL ACCORDING TO HEADER

In [351]:
## MEREGE TEST

In [ ]:
test_filename_per_field_dd = {
          
          'resident': ['gender','birthdate'],
          'profiles': ['profiles.employment.monthly_income'],
          'health_informations': [
              'health_informations.allergies',
              'health_informations.blood_sign',
              'health_informations.blood_type',
              'health_informations.exercise_in_a_week',
              'health_informations.smoking_habit'],
          'family_planning_and_maternal_healths': [
              'family_planning_and_maternal_healths.are_you_pregnant',
              'family_planning_and_maternal_healths.date_updated']
          }

## FAMILY PLANNING

In [423]:
_fp_df = pd.read_csv(processed_dir + 'family_planning_and_maternal_healths' + '.csv', dtype={"_index_map": str}).sort_values(['_id','_index_map']) 
_fp_df = _fp_df[['_id','_index_map',
              'family_planning_and_maternal_healths.are_you_pregnant',
              'family_planning_and_maternal_healths.date_updated']].replace(np.nan,'',regex=True)
_fp_df

,_id,_index_map,family_planning_and_maternal_healths.are_you_pregnant,family_planning_and_maternal_healths.date_updated
0,2f920d39-319e-4bf7-90c8-6133c3337af7,0,No,01/01/2009 at 08:44:13 PM GMT+08:00
2,2f920d39-319e-4bf7-90c8-6133c3337af7,1,Yes,03/02/2008 at 08:44:13 PM GMT+08:00
1,64c2e7de-0cc8-4df5-a54f-02398652c080,0,No,01/01/2009 at 08:44:13 PM GMT+08:00

## RESIDENT DATA

In [424]:
_resident_df = pd.read_csv(processed_dir + 'resident' + '.csv', dtype={"_index_map": str}).sort_values(['_id','_index_map']) 
_resident_df = _resident_df[['_id','_index_map','gender','birthdate']].replace(np.nan,'',regex=True)
_resident_df

                                    _id _index_map  gender   birthdate
0  2f920d39-319e-4bf7-90c8-6133c3337af7               Male  12/23/1975
1  64c2e7de-0cc8-4df5-a54f-02398652c080             Female  08/09/1989

## PROFILE DATA

In [598]:
_profile_df = pd.read_csv(processed_dir + 'profiles' + '.csv', dtype={"_index_map": str}).sort_values(['_id','_index_map']) 
_profile_df = _profile_df[['_id','_index_map','profiles.civil_status','profiles.employment.is_employed','profiles.education','profiles.employment.nature','profiles.religion']].replace(np.nan,'',regex=True)
_profile_df = _profile_df.replace(np.nan,'',regex=True).reset_index(drop=True)
_profile_df

,_id,_index_map,profiles.civil_status,profiles.employment.is_employed,profiles.education,profiles.employment.nature,profiles.religion
0,0003ff38-28fb-4005-9437-d276cbb9da4d,0,Single,,No Formal Education,empty,Catholic
1,0003ff38-28fb-4005-9437-d276cbb9da4d,1,Single,,No Formal Education,empty,Catholic
2,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,0,Single,,Elementary Level,empty,Catholic
3,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,1,Single,,Wala pormal na Edukasyon,empty,Catholic
4,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,2,Single,,Wala pormal na Edukasyon,empty,Catholic
5,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,3,Single,,Wala pormal na Edukasyon,empty,Catholic
6,0006de3c-57ea-46d2-89b8-e606533d3d15,0,Single,,College Level,empty,Catholic
7,0006de3c-57ea-46d2-89b8-e606533d3d15,1,Single,,College Level,empty,Catholic
8,000c23e6-6f0b-45ab-a0b5-e5d19dc023ad,0,Married,,Elementary Level,empty,Catholic
9,000cb28d-04d8-4665-90e6-fb1e2fe3c11c,0,Widowed,,Elementary Level,empty,Catholic
10,000cb28d-04d8-4665-90e6-fb1e2fe3c11c,1,Widowed,,Elementary Level,empty,Catholic
11,000cb28d-04d8-4665-90e6-fb1e2fe3c11c,2,Widowed,,Elementary Level,empty,Catholic
12,000cd601-9a77-4fca-8add-23132c0f9471,0,Married,,Highschool Graduate,laborer,Catholic
13,000cd601-9a77-4fca-8add-23132c0f9471,1,Married,,Highschool Graduate,laborer,Catholic
14,000f7387-03b4-4605-ac4d-93c498adb3d9,0,Single,,Highschool Level,empty,Christian
15,000fb2e4-2708-4d6e-ade7-a96eecff2e1d,0,Married,,Elementary Level,farmer,Catholic
16,001296cb-ffd9-4eed-8dd5-3326d0468d79,0,Married,,Elementary Graduate,empty,Catholic
17,00197824-5aa2-4baa-b584-646d38cf9bd3,0,Single,,Highschool Level,empty,Catholic
18,00197824-5aa2-4baa-b584-646d38cf9bd3,1,Single,,Highschool Level,empty,Catholic
19,002019ad-8dfa-44e0-9fa2-42e9119c93c7,0,Married,,Highschool Level,empty,Catholic
20,00220ece-8b56-43a5-b420-ac55cbc891db,0,Single,,Grade 5 now,empty,Catholic
21,00220ece-8b56-43a5-b420-ac55cbc891db,1,Single,,Grade 5 now,empty,Catholic
22,00220ece-8b56-43a5-b420-ac55cbc891db,2,Single,,Grade 5 now,empty,Catholic
23,00256005-2b4a-480a-a777-d208ad640183,0,Married,,Elementary Level,empty,Catholic
24,0027bdd0-2dba-4d2a-8792-85553f2f5b54,0,Married,,Elementary Level,empty,Catholic
25,0027bdd0-2dba-4d2a-8792-85553f2f5b54,1,Married,,Elementary Level,empty,Catholic
26,0027fd36-38e7-433f-970f-d48374afe6d6,0,Single,,Elementary Level,empty,Catholic
27,002e6f12-995a-4705-be33-5c0c9c1f3122,0,Widowed,,Elementary Level,empty,Catholic
28,002f3f88-789b-45d4-ac18-327424da3fb2,0,Married,,Highschool Level,empty,Catholic
29,003538fa-4a27-4c96-a5db-93aadfd8d20e,0,Married,,Elementary Level,empty,Catholic
...,...,...,...,...,...,...,...
16491,ffa17428-83cb-4cc7-a74f-8f6e26586489,2,Single,,Highschool Level,empty,Catholic
16492,ffa17428-83cb-4cc7-a74f-8f6e26586489,3,Single,,Highschool Level,empty,Catholic
16493,ffb005ef-91d8-46fb-8e5f-6911a6ab467b,0,Widowed,,Elementary Level,empty,Catholic
16494,ffb26dd6-65ed-4946-8f44-9806fc06f10a,0,Married,,Highschool Graduate,empty,Catholic
16495,ffb89e71-c172-4a0f-a00e-b98a6a8d8fc2,0,Married,,College Graduate,empty,Catholic
16496,ffc21299-d4ff-4f07-a0f0-edac60a35961,0,empty,,No Formal Education,empty,Catholic
16497,ffc21299-d4ff-4f07-a0f0-edac60a35961,1,empty,,daycare,empty,Catholic
16498,ffc29f81-c0f0-401c-b662-a5cabb9423dd,0,Single,,Highschool Level,Farmer,Catholic
16499,ffc3569a-e591-4df8-83e3-e7617ab1acd4,0,Married,,Highschool Level,empty,Catholic
16500,ffc3569a-e591-4df8-83e3-e7617ab1acd4,1,Married,,Highschool Level,empty,Catholic
16501,ffc49b01-1600-4ddf-9eed-073df711e61b,0,Single,,College Graduate,empty,Catholic
16502,ffc83085-6864-4997-9c24-57a6c978c738,0,Single,,No Formal Education,empty,Catholic
16503,ffc9cf75-95a0-434f-b4be-847ccb075e38,0,Married,,College Graduate,empty,Christian
16504,ffce1e6b-d6e8-4a73-9607-15e9b0869abf,0,Single,,Elementary Graduate,empty,Catholic
16505,ffcec246-4088-4501-99ce-0276c38b0ff7,0,Single,,College Graduate,sales boy,Catholic
16506,ffd89e78-b1fc-43df-bf40-24982890f233,0,Married,,Highschool Graduate,empty,Catholic
16507,ffde082f-bf98-4ae3-bc47-7c0f5a770b2e,0,Single,,College Level,empty,Catholic
16508,ffeaab18-133e-42ea-a813-9b57d42e1e83,0,Single,,Elementary Level,empty,Catholic
16509,ffedb566-4817-4024-b85f-3ae67506fbe9,0,Married,,Elementary Level,empty,Catholic
16510,fff00dda-8961-4992-b09f-0656d8eef480,0,Married,,bab,empty,baptish
16511,fff00dda-8961-4992-b09f-0656d8eef480,1,,,baptish,empty,baptish
16512,fff1b24e-5cde-40a3-b8ba-d77e40d134c5,0,Single,,Elementary Level,empty,Catholic
16513,fff54baa-a01c-431e-aabb-aca7a42fdfcc,0,Single,,College Level,empty,Christian
16514,fff816db-175f-4670-b259-7dae7534f148,0,Single,,Elementary Level,empty,Catholic
16515,fff816db-175f-4670-b259-7dae7534f148,1,Single,,Elementary Level,empty,Catholic
16516,fff84e5c-9aaf-4e8e-9b01-97693b6389f8,0,Single,,daycare,empty,Catholic
16517,fff86a37-f863-40ee-958f-1a674111e087,0,Married,,Highschool Graduate,farmer,Catholic
16518,fff9f992-5139-4d4a-ab51-3b2fe3929991,0,Single,,Highschool Graduate,empty,Catholic
16519,fffba690-3ea3-408c-94da-3d6355b77b7c,0,Single,,grade 8Baptis,empty,Baptish
16520,fffbb6e0-086c-4499-97b3-fa4f8be54f59,0,Single,,Highschool Level,empty,Catholic

## HEALTH INFORATION DATA

In [548]:
_hi_df = pd.read_csv(processed_dir + 'health_informations' + '.csv', dtype={"_index_map": str}).sort_values(['_id','_index_map']) 
_hi_df  = _hi_df [['_id','_index_map',
              'health_informations.allergies',
              'health_informations.blood_pressure.first_reading.diastole',
              'health_informations.blood_pressure.first_reading.systole',
              'health_informations.blood_pressure.second_reading.diastole',
              'health_informations.blood_pressure.second_reading.systole',
              'health_informations.blood_sign',
              'health_informations.blood_type',
              'health_informations.exercise_in_a_week',
              'health_informations.smoking_habit']].replace(np.nan,'',regex=True).reset_index(drop=True)
_hi_df.head(5)

,_id,_index_map,health_informations.allergies,health_informations.blood_pressure.first_reading.diastole,health_informations.blood_pressure.first_reading.systole,health_informations.blood_pressure.second_reading.diastole,health_informations.blood_pressure.second_reading.systole,health_informations.blood_sign,health_informations.blood_type,health_informations.exercise_in_a_week,health_informations.smoking_habit
0,0003ff38-28fb-4005-9437-d276cbb9da4d,0,,,,,,empty,I don't know,0 to 1 hour,Never
1,0003ff38-28fb-4005-9437-d276cbb9da4d,1,,,,,,empty,I don't know,0 to 1 hour,Never
2,0003ff38-28fb-4005-9437-d276cbb9da4d,2,,,,,,empty,I don't know,0 to 1 hour,Never
3,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,0,,,,,,Wala ko kabalo,Wala ko kabalo,,empty
4,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,1,,,,,,Wala ko kabalo,Wala ko kabalo,,empty

## MERGE ALL DATA

## TODO: DROP '0' in index_map

In [432]:
_merge_df = _resident_df.merge(_profile_df,on=["_id","_index_map"], how="outer",  suffixes=('_x', '_y') )
_merge_df = _merge_df.merge(_hi_df,on=["_id","_index_map"], how="outer",  suffixes=('_x', '_y') )
_merge_df = _merge_df.merge(_fp_df,on=["_id","_index_map"], how="outer",  suffixes=('_x', '_y') )
_merge_df.to_csv(merged_dir + 'merge' + '.csv',index=False)
_merge_df

,_id,_index_map,gender,birthdate,profiles.employment.monthly_income,health_informations.smoking_habit,health_informations.blood_type,family_planning_and_maternal_healths.are_you_pregnant,family_planning_and_maternal_healths.date_updated
0,2f920d39-319e-4bf7-90c8-6133c3337af7,,Male,12/23/1975,NaN,NaN,NaN,NaN,NaN
1,64c2e7de-0cc8-4df5-a54f-02398652c080,,Female,08/09/1989,NaN,NaN,NaN,NaN,NaN
2,2f920d39-319e-4bf7-90c8-6133c3337af7,0,NaN,NaN,Php 13.00,Pssive,B,No,01/01/2009 at 08:44:13 PM GMT+08:00
3,64c2e7de-0cc8-4df5-a54f-02398652c080,0,NaN,NaN,Php12.00,Active,A,No,01/01/2009 at 08:44:13 PM GMT+08:00
4,2f920d39-319e-4bf7-90c8-6133c3337af7,1,NaN,NaN,NaN,Never,,Yes,03/02/2008 at 08:44:13 PM GMT+08:00

In [462]:
test_group_df = pd.read_csv(merged_dir + 'merge' + '.csv',dtype={'_index_map': str}).replace(np.nan,'',regex=True)

In [463]:
test_group_df

,_id,_index_map,gender,birthdate,profiles.employment.monthly_income,health_informations.smoking_habit,health_informations.blood_type,family_planning_and_maternal_healths.are_you_pregnant,family_planning_and_maternal_healths.date_updated
0,2f920d39-319e-4bf7-90c8-6133c3337af7,,Male,12/23/75,,,,,
1,64c2e7de-0cc8-4df5-a54f-02398652c080,,Female,8/9/89,,,,,
2,2f920d39-319e-4bf7-90c8-6133c3337af7,,,,Php 13.00,Pssive,B,No,01/01/2009 at 08:44:13 PM GMT+08:00
3,64c2e7de-0cc8-4df5-a54f-02398652c080,,,,Php12.00,Active,A,No,01/01/2009 at 08:44:13 PM GMT+08:00
4,2f920d39-319e-4bf7-90c8-6133c3337af7,1,,,,Never,,Yes,03/02/2008 at 08:44:13 PM GMT+08:00

In [459]:
_1_df = test_group_df[test_group_df['_index_map'] == '1']
_1_df

,_id,_index_map,gender,birthdate,profiles.employment.monthly_income,health_informations.smoking_habit,health_informations.blood_type,family_planning_and_maternal_healths.are_you_pregnant,family_planning_and_maternal_healths.date_updated
4,2f920d39-319e-4bf7-90c8-6133c3337af7,1,,,,Never,,Yes,03/02/2008 at 08:44:13 PM GMT+08:00

In [461]:
_0_df = test_group_df[test_group_df['_index_map'] == '']
_0_df

,_id,_index_map,gender,birthdate,profiles.employment.monthly_income,health_informations.smoking_habit,health_informations.blood_type,family_planning_and_maternal_healths.are_you_pregnant,family_planning_and_maternal_healths.date_updated
0,2f920d39-319e-4bf7-90c8-6133c3337af7,,Male,12/23/75,,,,,
1,64c2e7de-0cc8-4df5-a54f-02398652c080,,Female,8/9/89,,,,,
2,2f920d39-319e-4bf7-90c8-6133c3337af7,,,,Php 13.00,Pssive,B,No,01/01/2009 at 08:44:13 PM GMT+08:00
3,64c2e7de-0cc8-4df5-a54f-02398652c080,,,,Php12.00,Active,A,No,01/01/2009 at 08:44:13 PM GMT+08:00

## RENAME THE HEADERS USING MAPPED HEADERS

In [599]:
source_destination_keys_df = pd.DataFrame()
source_destination_keys_df = _mapping_df[['source_key','destination_key']]

In [600]:
new_column_name_dict = dict(zip(source_destination_keys_df['source_key'], source_destination_keys_df['destination_key']))
new_column_name_dict

{'profiles.civil_status': 'answers.civilStatus',
 'profiles.education': 'answers.highestEducation',
 'profiles.employment.is_employed': 'answers.employmentStatus',
 'profiles.employment.nature': 'answers.employmentArea',
 'profiles.religion': 'answers.religion',
 nan: 'type'}

In [512]:
uuid.uuid4()

UUID('d14d5fca-5e9b-485d-ad37-b1352614fbe7')

In [601]:
#TEMPORARY: clear _index_map
_required_data_df = pd.DataFrame()
_required_data_df = _profile_df
_required_data_df.rename(columns = new_column_name_dict,inplace=True )
_required_data_df.rename(columns={'_id': 'profileId'}, inplace=True)
_required_data_df['_id'] = _required_data_df.index.to_series().map(lambda x: uuid.uuid4())
_required_data_df['_index_map'] = ''
_required_data_df

,profileId,_index_map,answers.civilStatus,answers.employmentStatus,answers.highestEducation,answers.employmentArea,answers.religion,_id
0,0003ff38-28fb-4005-9437-d276cbb9da4d,,Single,,No Formal Education,empty,Catholic,24bebdcb-c34e-412e-8a22-7a873ab7bd16
1,0003ff38-28fb-4005-9437-d276cbb9da4d,,Single,,No Formal Education,empty,Catholic,aefd6b7c-5ddc-41ec-89dd-f481507140ef
2,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Elementary Level,empty,Catholic,e149b937-8c25-4e35-aad0-ba875d9fbb70
3,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Wala pormal na Edukasyon,empty,Catholic,cd550aae-228c-4d1a-b90d-7adedeffd9b9
4,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Wala pormal na Edukasyon,empty,Catholic,a471503f-79f6-4f51-bd90-84d45b44df82
5,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Wala pormal na Edukasyon,empty,Catholic,f9d6aba0-f51f-4c64-85b8-ff0992e2e4a2
6,0006de3c-57ea-46d2-89b8-e606533d3d15,,Single,,College Level,empty,Catholic,510557fc-d08c-4455-8e3a-2006f18dfe73
7,0006de3c-57ea-46d2-89b8-e606533d3d15,,Single,,College Level,empty,Catholic,b7f46116-4155-4f18-874f-8a1bbf6e6f85
8,000c23e6-6f0b-45ab-a0b5-e5d19dc023ad,,Married,,Elementary Level,empty,Catholic,a3a0aae5-ec1c-4861-8faa-fb195a3fd716
9,000cb28d-04d8-4665-90e6-fb1e2fe3c11c,,Widowed,,Elementary Level,empty,Catholic,49af29ec-9e68-40b4-ab4d-7c79c0929d0c
10,000cb28d-04d8-4665-90e6-fb1e2fe3c11c,,Widowed,,Elementary Level,empty,Catholic,cc1da2b1-e622-424c-a2ce-81035493673a
11,000cb28d-04d8-4665-90e6-fb1e2fe3c11c,,Widowed,,Elementary Level,empty,Catholic,c524b938-c929-49e7-b49c-9e511c44beac
12,000cd601-9a77-4fca-8add-23132c0f9471,,Married,,Highschool Graduate,laborer,Catholic,b1c6f5fc-3d8a-4dc7-b538-a28eef7dad58
13,000cd601-9a77-4fca-8add-23132c0f9471,,Married,,Highschool Graduate,laborer,Catholic,840986d5-cb92-43e9-a615-99a541dfe6bc
14,000f7387-03b4-4605-ac4d-93c498adb3d9,,Single,,Highschool Level,empty,Christian,7741939a-33b6-40bb-86e4-eb4cd56f8e50
15,000fb2e4-2708-4d6e-ade7-a96eecff2e1d,,Married,,Elementary Level,farmer,Catholic,fb5577e6-ae0b-4370-915f-77462cdb13ae
16,001296cb-ffd9-4eed-8dd5-3326d0468d79,,Married,,Elementary Graduate,empty,Catholic,81830f8d-70a5-49a9-88d5-7c346e56a8aa
17,00197824-5aa2-4baa-b584-646d38cf9bd3,,Single,,Highschool Level,empty,Catholic,9818681c-8113-423a-9bdc-fb50e90c92a0
18,00197824-5aa2-4baa-b584-646d38cf9bd3,,Single,,Highschool Level,empty,Catholic,4b8fd61c-9f51-421d-89d3-169cbaaf695d
19,002019ad-8dfa-44e0-9fa2-42e9119c93c7,,Married,,Highschool Level,empty,Catholic,8e32feb4-43cc-4c0e-90ef-8c9fe97fec29
20,00220ece-8b56-43a5-b420-ac55cbc891db,,Single,,Grade 5 now,empty,Catholic,ef5587e1-ca6d-4377-9698-ed674ba31bae
21,00220ece-8b56-43a5-b420-ac55cbc891db,,Single,,Grade 5 now,empty,Catholic,e507c4e5-7cdd-4473-bfef-abaf34a28ed4
22,00220ece-8b56-43a5-b420-ac55cbc891db,,Single,,Grade 5 now,empty,Catholic,12fd51b5-bbe4-4f2c-a8c7-57f4dc57c940
23,00256005-2b4a-480a-a777-d208ad640183,,Married,,Elementary Level,empty,Catholic,6739bb90-64ab-43d7-bc71-950428f2263f
24,0027bdd0-2dba-4d2a-8792-85553f2f5b54,,Married,,Elementary Level,empty,Catholic,b521c2a0-f703-48b6-85bd-a92c51db92e3
25,0027bdd0-2dba-4d2a-8792-85553f2f5b54,,Married,,Elementary Level,empty,Catholic,1955269b-ec1c-4fe0-91f8-f00a6efbfe1f
26,0027fd36-38e7-433f-970f-d48374afe6d6,,Single,,Elementary Level,empty,Catholic,9f83c427-e14c-4cbf-8156-a1c595bdc35d
27,002e6f12-995a-4705-be33-5c0c9c1f3122,,Widowed,,Elementary Level,empty,Catholic,cdee8607-b670-4347-b880-fd19fde51059
28,002f3f88-789b-45d4-ac18-327424da3fb2,,Married,,Highschool Level,empty,Catholic,0d9bd74c-9cbc-4d38-9f83-ac50019752d5
29,003538fa-4a27-4c96-a5db-93aadfd8d20e,,Married,,Elementary Level,empty,Catholic,d89b147c-beff-42dc-a04d-39a8075b34c0
...,...,...,...,...,...,...,...,...
16491,ffa17428-83cb-4cc7-a74f-8f6e26586489,,Single,,Highschool Level,empty,Catholic,9fd64c8e-82e6-4fd2-8b49-542171ef3c0f
16492,ffa17428-83cb-4cc7-a74f-8f6e26586489,,Single,,Highschool Level,empty,Catholic,5b1e0224-f012-46fb-abc8-76c04b63eb7a
16493,ffb005ef-91d8-46fb-8e5f-6911a6ab467b,,Widowed,,Elementary Level,empty,Catholic,52410cc6-d5cc-4371-b360-18f094f8ca36
16494,ffb26dd6-65ed-4946-8f44-9806fc06f10a,,Married,,Highschool Graduate,empty,Catholic,b4789330-6de7-4782-a9ae-4d1a79984cd2
16495,ffb89e71-c172-4a0f-a00e-b98a6a8d8fc2,,Married,,College Graduate,empty,Catholic,c11978f8-8ca0-4a3d-b832-648fc29baacf
16496,ffc21299-d4ff-4f07-a0f0-edac60a35961,,empty,,No Formal Education,empty,Catholic,bd54cdb0-7283-4125-8d23-6b9a4dd934dc
16497,ffc21299-d4ff-4f07-a0f0-edac60a35961,,empty,,daycare,empty,Catholic,980fe19f-5573-4028-b26d-36ef4ce9cad5
16498,ffc29f81-c0f0-401c-b662-a5cabb9423dd,,Single,,Highschool Level,Farmer,Catholic,7681cf03-3b4f-46c5-99ea-8d1974d38737
16499,ffc3569a-e591-4df8-83e3-e7617ab1acd4,,Married,,Highschool Level,empty,Catholic,c7ebc6fd-a747-4b74-a9fc-d12900f37ae1
16500,ffc3569a-e591-4df8-83e3-e7617ab1acd4,,Married,,Highschool Level,empty,Catholic,f8c4b8f2-5535-4893-8c44-015399624d34
16501,ffc49b01-1600-4ddf-9eed-073df711e61b,,Single,,College Graduate,empty,Catholic,3b9821c0-5ed5-4009-86ca-9bc197469c79
16502,ffc83085-6864-4997-9c24-57a6c978c738,,Single,,No Formal Education,empty,Catholic,9ef475e6-7ce3-494f-b7f3-446205f1de64
16503,ffc9cf75-95a0-434f-b4be-847ccb075e38,,Married,,College Graduate,empty,Christian,a4f22c06-0f0e-45dd-aa10-d92b31ff6195
16504,ffce1e6b-d6e8-4a73-9607-15e9b0869abf,,Single,,Elementary Graduate,empty,Catholic,bea6f5ef-7730-4fe1-8655-2f8a467f74cf
16505,ffcec246-4088-4501-99ce-0276c38b0ff7,,Single,,College Graduate,sales boy,Catholic,480652ca-d10f-43ca-965d-2642e1baa8c4
16506,ffd89e78-b1fc-43df-bf40-24982890f233,,Married,,Highschool Graduate,empty,Catholic,ae4edbbf-4026-4fa7-a130-2925dc85dd36
16507,ffde082f-bf98-4ae3-bc47-7c0f5a770b2e,,Single,,College Level,empty,Catholic,5af79d2e-620a-4eae-b304-f495427bb0eb
16508,ffeaab18-133e-42ea-a813-9b57d42e1e83,,Single,,Elementary Level,empty,Catholic,e52f4999-d92b-4822-9e1f-5e7916eaf146
16509,ffedb566-4817-4024-b85f-3ae67506fbe9,,Married,,Elementary Level,empty,Catholic,b960b170-a4a0-4106-b2b3-466c8ebb73c7
16510,fff00dda-8961-4992-b09f-0656d8eef480,,Married,,bab,empty,baptish,31388cc4-8187-42d4-ba0b-97828351db34
16511,fff00dda-8961-4992-b09f-0656d8eef480,,,,baptish,empty,baptish,8e7e6bd5-2d2a-4d8c-98fa-f6f4b7957509
16512,fff1b24e-5cde-40a3-b8ba-d77e40d134c5,,Single,,Elementary Level,empty,Catholic,ace7e880-37a2-42ad-8da8-7295b9fb3024
16513,fff54baa-a01c-431e-aabb-aca7a42fdfcc,,Single,,College Level,empty,Christian,b247aadd-0847-4927-9922-ca67f05686b9
16514,fff816db-175f-4670-b259-7dae7534f148,,Single,,Elementary Level,empty,Catholic,2967b220-bbb7-4261-b768-c916586d33d8
16515,fff816db-175f-4670-b259-7dae7534f148,,Single,,Elementary Level,empty,Catholic,2f389eee-e4f4-403c-bcea-464b01acf30d
16516,fff84e5c-9aaf-4e8e-9b01-97693b6389f8,,Single,,daycare,empty,Catholic,eccb2557-16b5-4874-9198-9dbbe5f57081
16517,fff86a37-f863-40ee-958f-1a674111e087,,Married,,Highschool Graduate,farmer,Catholic,492de1c7-f011-4a66-9b7e-b95071eae6cb
16518,fff9f992-5139-4d4a-ab51-3b2fe3929991,,Single,,Highschool Graduate,empty,Catholic,bb1b0ada-cd32-4487-ba3a-05fa577da779
16519,fffba690-3ea3-408c-94da-3d6355b77b7c,,Single,,grade 8Baptis,empty,Baptish,ef40e54b-4ce4-408c-bb06-30a8108bf61c
16520,fffbb6e0-086c-4499-97b3-fa4f8be54f59,,Single,,Highschool Level,empty,Catholic,2c094734-172d-4c47-8c3b-1bae4f79a9cd

## CREATE THE NEW DATA WITH DEFAULT VALUES

In [605]:
new_fields_df = _mapping_df[_mapping_df['data_type'] == 'new'][['destination_key', 'default_value']]
new_fields_df

  destination_key                   default_value
5     dateUpdated
6     dateCreated   2019-06-27T20:36:43.993+08:00
7        formName  2.1 - AQM General Questions V1
8          formId            AWviKwKDKxqtHWZMp2v4
9            type            profile-related-form

In [433]:
## TODO: Insert profileId

In [606]:
for index,row in new_fields_df.iterrows():
    _header = row['destination_key']
    _value = row['default_value']
    _required_data_df[_header] = _value


_required_data_df = _required_data_df.reset_index(drop=True)
_required_data_df.head(5)

,profileId,_index_map,answers.civilStatus,answers.employmentStatus,answers.highestEducation,answers.employmentArea,answers.religion,_id,dateUpdated,dateCreated,formName,formId,type
0,0003ff38-28fb-4005-9437-d276cbb9da4d,,Single,,No Formal Education,empty,Catholic,24bebdcb-c34e-412e-8a22-7a873ab7bd16,,2019-06-27T20:36:43.993+08:00,2.1 - AQM General Questions V1,AWviKwKDKxqtHWZMp2v4,profile-related-form
1,0003ff38-28fb-4005-9437-d276cbb9da4d,,Single,,No Formal Education,empty,Catholic,aefd6b7c-5ddc-41ec-89dd-f481507140ef,,2019-06-27T20:36:43.993+08:00,2.1 - AQM General Questions V1,AWviKwKDKxqtHWZMp2v4,profile-related-form
2,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Elementary Level,empty,Catholic,e149b937-8c25-4e35-aad0-ba875d9fbb70,,2019-06-27T20:36:43.993+08:00,2.1 - AQM General Questions V1,AWviKwKDKxqtHWZMp2v4,profile-related-form
3,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Wala pormal na Edukasyon,empty,Catholic,cd550aae-228c-4d1a-b90d-7adedeffd9b9,,2019-06-27T20:36:43.993+08:00,2.1 - AQM General Questions V1,AWviKwKDKxqtHWZMp2v4,profile-related-form
4,0004056c-ec55-4c4d-ba14-9ccbd0ddfa81,,Single,,Wala pormal na Edukasyon,empty,Catholic,a471503f-79f6-4f51-bd90-84d45b44df82,,2019-06-27T20:36:43.993+08:00,2.1 - AQM General Questions V1,AWviKwKDKxqtHWZMp2v4,profile-related-form

# WRITE TO CSV FINALIZED

In [608]:
_required_data_df.to_csv(merged_dir + 'general_questions.csv', encoding='utf-8', mode='w', header=True,index=False)

## HEALTH INFORMATIONS --ITERATION

In [387]:
data_df = pd.read_csv( 'data/processed/couchbase-curis-2019-06-21/health_informations.csv')
data_headers_list = list(data_df.columns)
data_headers_list

['_id',
 '_index_map',
 'health_informations.height',
 'health_informations.exercise_in_a_week',
 'health_informations.waist_circumference',
 'health_informations.blood_type',
 'health_informations.date_updated',
 'health_informations.vegetables_in_a_week',
 'health_informations.weight',
 'health_informations.maintenance_drugs',
 'health_informations.fruits_in_a_week',
 'health_informations.blood_sugar',
 'health_informations.high_cost_medicine',
 'health_informations.allergies',
 'health_informations.blood_sign',
 'health_informations.smoking_habit',
 'health_informations.blood_pressure.third_reading.systole',
 'health_informations.blood_pressure.first_reading.diastole',
 'health_informations.blood_pressure.first_reading.systole',
 'health_informations.blood_pressure.second_reading.diastole',
 'health_informations.blood_pressure.third_reading.diastole',
 'health_informations.blood_pressure.second_reading.systole']

In [388]:
hi_match_headers = list(set(mapping_fields_list) & set(data_headers_list))
hi_match_headers

['health_informations.exercise_in_a_week',
 'health_informations.blood_sugar',
 'health_informations.blood_pressure.first_reading.systole',
 'health_informations.blood_pressure.second_reading.diastole',
 '_index_map',
 'health_informations.smoking_habit',
 'health_informations.blood_pressure.first_reading.diastole',
 'health_informations.allergies',
 'health_informations.blood_pressure.second_reading.systole',
 '_id',
 'health_informations.blood_type',
 'health_informations.blood_sign']

In [389]:
new_hi_df = hi_df[hi_match_headers]
new_hi_df

NameError: name 'hi_df' is not defined

# PROFILES

In [ ]:
p_df = pd.read_csv( 'data/processed/couchbase-curis-2019-06-21/profiles.csv')
p_df.columns

p_match_headers = list(set(source_keys) & set(p_df.columns))
p_match_headers

In [ ]:
new_p_df = p_df[p_match_headers]
new_p_df

In [ ]:
merge_df = new_p_df.append(new_hi_df, sort=True)
merge_df = merge_df.sort_values(['_id'])
merge_df

In [ ]:
merge_df.to_csv(tmp_dir + 'merge' + '.csv', encoding='utf-8', mode='w', header=True,index=False)