In [551]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize 
import logging
from functools import reduce

## Configuration

In [552]:
#etl = 'kobo2elastic'
etl = 'curis2elastic'

input_schema_file = ''
input_data_file = ''
mapping_file = ''
    
if etl == 'curis2elastic':
    #old curis to elasticsearch
    input_schema_file = 'schema/input/curisSchema.partial.json'
    input_data_file = 'data/curisData.2-items.json'
    mapping_file = 'schema/map/couchbase2elastic.map.csv'
elif etl == 'kobo2elastic':
    #kobo to elasticsearch
    input_schema_file = 'schema/input/aqmSchema.complete.json'
    input_data_file = 'data/aqmData.2-items.json'
    mapping_file = 'schema/map/kobo2elastic.map.csv'

## Get input JSON SChema

In [553]:
with open(input_schema_file) as f:
    d = json.load(f)

schema_df = pd.DataFrame()
schema_df = json_normalize(d)
schema_df

,$id,$schema,items.$id,items.properties.demographics.$id,items.properties.demographics.properties.active.$id,items.properties.demographics.properties.active.title,items.properties.demographics.properties.active.type,items.properties.demographics.properties.address.$id,items.properties.demographics.properties.address.items.$id,items.properties.demographics.properties.address.items.properties.add_date.$id,...,items.properties.demographics.properties.deceased.properties.year.title,items.properties.demographics.properties.deceased.properties.year.type,items.properties.demographics.properties.deceased.title,items.properties.demographics.properties.deceased.type,items.properties.demographics.title,items.properties.demographics.type,items.title,items.type,title,type
0,http://example.com/root.json,http://json-schema.org/draft-07/schema#,#/items,#/items/properties/demographics,#/items/properties/demographics/properties/active,The Active Schema,boolean,#/items/properties/demographics/properties/add...,#/items/properties/demographics/properties/add...,#/items/properties/demographics/properties/add...,...,The Year Schema,string,The Deceased Schema,object,The Demographics Schema,object,The Items Schema,object,The Root Schema,array

## Get valid index List only

In [554]:
validIndexLists = []
for indexList in list(schema_df):
    if "._" not in indexList:
        if len(indexList.split(sep='.')) > 2:
            if indexList.split(sep='.')[-1] == 'type' or indexList.split(sep='.')[-1] == 'title':
                validIndexLists.append(indexList)

In [555]:
required_field_df = pd.DataFrame()
required_field_df = schema_df[validIndexLists]
required_field_df.T

                                                                          0
items.properties.demographics.properties.active...        The Active Schema
items.properties.demographics.properties.active...                  boolean
items.properties.demographics.properties.addres...      The Add_date Schema
items.properties.demographics.properties.addres...                   string
items.properties.demographics.properties.addres...       The Commnty Schema
items.properties.demographics.properties.addres...                   string
items.properties.demographics.properties.addres...       The Country Schema
items.properties.demographics.properties.addres...                   string
items.properties.demographics.properties.addres...     The Is_recent Schema
items.properties.demographics.properties.addres...                  boolean
items.properties.demographics.properties.addres...           The Zip Schema
items.properties.demographics.properties.addres...                  integer
items.properties.demographics.properties.addres...         The Items Schema
items.properties.demographics.properties.addres...                   object
items.properties.demographics.properties.addres...       The Address Schema
items.properties.demographics.properties.addres...                    array
items.properties.demographics.properties.awh_id...        The Awh_id Schema
items.properties.demographics.properties.awh_id...                   string
items.properties.demographics.properties.deceas...       The Is_dead Schema
items.properties.demographics.properties.deceas...                  boolean
items.properties.demographics.properties.deceas...          The Year Schema
items.properties.demographics.properties.deceas...                   string
items.properties.demographics.properties.deceas...      The Deceased Schema
items.properties.demographics.properties.deceas...                   object
items.properties.demographics.title                 The Demographics Schema
items.properties.demographics.type                                   object

## Clean index

In [556]:
def clean_value(x):
    return x.lower().replace("/", ".").replace("the", "").replace("schema", "").strip()

def clean_index(x):
    return x.lower().replace("/", ".").replace(".properties", "").replace("items.", "").strip()

newSchema_df = pd.DataFrame()
newSchema_df['value'] = required_field_df.T[0].apply(clean_value)
newSchema_df.reset_index(level=0, inplace=True)
newSchema_df['index'] = newSchema_df['index'].apply(clean_index)
newSchema_df.head(10)

                                  index      value
0             demographics.active.title     active
1              demographics.active.type    boolean
2   demographics.address.add_date.title   add_date
3    demographics.address.add_date.type     string
4    demographics.address.commnty.title    commnty
5     demographics.address.commnty.type     string
6    demographics.address.country.title    country
7     demographics.address.country.type     string
8  demographics.address.is_recent.title  is_recent
9   demographics.address.is_recent.type    boolean

In [557]:
valueSchema_df = pd.DataFrame()

number = len(newSchema_df)
index = 0
counter = 0
counter1 = 1

array_key = []
array_type = []

while (counter < number):
    array_key.append(newSchema_df.iloc[counter]['index'].replace('.title',''))
    counter += 2
        
while (counter1 < number):
    array_type.append(newSchema_df.iloc[counter1]['value'])
    counter1 += 2

valueSchema_df['source_key'] = array_key
valueSchema_df['source_type'] = array_type


#type(valueSchema_df['source_type'][6])
#valueSchema_df.head(10)
valueSchema_df = valueSchema_df.sort_values(['source_key']).reset_index(drop=True)
valueSchema_df

                        source_key source_type
0                     demographics      object
1              demographics.active     boolean
2             demographics.address      object
3             demographics.address       array
4    demographics.address.add_date      string
5     demographics.address.commnty      string
6     demographics.address.country      string
7   demographics.address.is_recent     boolean
8         demographics.address.zip     integer
9              demographics.awh_id      string
10           demographics.deceased      object
11   demographics.deceased.is_dead     boolean
12      demographics.deceased.year      string

## Flatten Dict

In [558]:
def flattenDict(d, result=None):
    if result is None:
        result = {}
    for key in d:
        value = d[key]
        if isinstance(value, str):
            if "\n" in value:
                print('----------------',value) 
                value = value.replace("\n", ' and ')
                print('----------------',value) 

        if isinstance(value, dict):
        #if d['type'] =='object':
            value1 = {}
            for keyIn in value:
                value1[".".join([key,keyIn])]=value[keyIn]
            flattenDict(value1, result)
        elif isinstance(value, (list, tuple)):   
            for indexB, element in enumerate(value):
                if isinstance(element, dict):
                    value1 = {}
                    index = 0
                    for keyIn in element:
                        newkey = ".".join([key,keyIn])        
                        value1[".".join([key,keyIn])]=value[indexB][keyIn]
                        index += 1
                    for keyA in value1:
                        flattenDict(value1, result)   
        else:
            result[key]=value
    return result

In [581]:
d = []
with open(input_data_file) as f:
    #d = json.load(f)
    d = json.load(f)
    print('----')
    print(d)
    print('---type--')
print(type(d))

----
[{'demographics': {'awh_id': 'c92118421a1f8a87a73dadcd954dd75e', 'active': True, 'deceased': {'is_dead': False}, 'address': [{'add_date': '2012-03-27T13:11:01.453528', 'commnty': 'old community', 'is_recent': False, 'zip': 17158, 'country': 'KHM'}, {'add_date': '2019-02-27T13:11:01.453528', 'commnty': 'New community', 'is_recent': False, 'zip': 121217158, 'country': 'KHM'}]}}, {'demographics': {'awh_id': '1ac9dc3ce4fa83906374505bf91d0f1c', 'active': True, 'deceased': {'is_dead': False, 'year': ''}, 'address': [{'add_date': '2013-03-27T13:11:01.454978', 'is_recent': False, 'zip': 17158, 'country': 'KHM'}]}}, {'demographics': {'awh_id': '2ac9dc3ce4fa83906374505bf91d0f1c', 'active': True, 'address': [{'country': 'KHM'}]}}]
---type--
<class 'list'>

## Get input data

In [ ]:

flat_json_0 = {}
flat_json_1 = {}
flat_json_2 = {}

flat_json_0 = flattenDict(d[0])
print('--flatten_dict_type--')
print(type(flat_json_0))
print('--flatten_dict_data--')
flat_json_0

print('--normalize flatten_dict--')
json_flat_norm_0 = json_normalize(flat_json_0)


flat_json_1 = flattenDict(d[1])
json_flat_norm_1 = json_normalize(flat_json_1)

flat_json_2 = flattenDict(d[2])
json_flat_norm_2 = json_normalize(flat_json_2)

In [561]:
json_flat_norm_0

,demographics.active,demographics.address.add_date,demographics.address.commnty,demographics.address.country,demographics.address.is_recent,demographics.address.zip,demographics.awh_id,demographics.deceased.is_dead
0,True,2019-02-27T13:11:01.453528,New community,KHM,False,121217158,c92118421a1f8a87a73dadcd954dd75e,False

In [562]:
json_flat_norm_1

,demographics.active,demographics.address.add_date,demographics.address.country,demographics.address.is_recent,demographics.address.zip,demographics.awh_id,demographics.deceased.is_dead,demographics.deceased.year
0,True,2013-03-27T13:11:01.454978,KHM,False,17158,1ac9dc3ce4fa83906374505bf91d0f1c,False,

In [563]:
json_flat_norm_2

,demographics.active,demographics.address.country,demographics.awh_id
0,True,KHM,2ac9dc3ce4fa83906374505bf91d0f1c

## TESTING: flattendict with nested array of objects

In [734]:

def flatten_json(nested_json):
    """
        Flatten json object with nested keys into a single level.
        Args:
            nested_json: A nested json object.
        Returns:
            The flattened json object if successful, None otherwise.
    """
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '.')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + '[' + str(i) + '].')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(nested_json)
    return out


def flattenDictArrays(d, result=None):
    print('flatendDict')
    
    if result is None:
        result = {}
    for key in d:
        
        value = d[key]
        print('-----value=d[key]----')
        print(type(value))
        print(value)
        
        
        if isinstance(value, str):
            print('-----isinstance(value, str):----')
            if "\n" in value:
                print('----------------',value) 
                value = value.replace("\n", ' and ')
                print('----------------',value) 

        if isinstance(value, dict):
            print('-----isinstance(value, dict):----')
        #if d['type'] =='object':
            value1 = {}
            for keyIn in value:

                print('-----value----')
                print(type(value))
                print((value))
                
                print('-----keyIn----')
                print(type(keyIn))
                print((keyIn))
                value1[".".join([key,keyIn])]=value[keyIn]
            
            print('-----value1 = {}----')
            print(type(value1))
            print(value1)
            
            flattenDict(value1, result)
        elif isinstance(value, (list, tuple)):   
            print('-----isinstance(value, (list, tuple)):----')
            
            for indexB, element in enumerate(value):
                if isinstance(element, dict):
                    value1 = {}
                    index = 0
                    for keyIn in element:
                        newkey = ".".join([key,keyIn])        
                        value1[".".join([key,keyIn])]=value[indexB][keyIn]
                        index += 1
                    for keyA in value1:
                        flattenDict(value1, result)   
        else:
            result[key]=value
    return result

In [789]:
dx = []
dx = {}
dx_list = []
dx_dict = {}
dx_normalize_df = pd.DataFrame()

with open(input_data_file) as f:
    #d = json.load(f)
    dx_list = json.load(f)
    #dx = json.load(f)

#flat_json_dx = flattenDictArrays(dx[0])
#dx_json_str = (json.(dx))
type(dx_list)
dx_dict = dx_list
dx_flatten = flatten_json(dx_dict)

dx_flatten

{'[0].demographics.awh_id': 'c92118421a1f8a87a73dadcd954dd75e',
 '[0].demographics.org': 'TFG',
 '[0].demographics.active': True,
 '[0].demographics.deceased.is_dead': False,
 '[0].demographics.address.[0].country': 'PHL',
 '[0].demographics.address.[0].start_date': '2018-03-27T13:11:01.453528',
 '[0].demographics.address.[0].description': 'permanent address',
 '[0].demographics.address.[0].is_preferred': True,
 '[0].demographics.address.[0].contact_number': '',
 '[0].demographics.address.[0].zip': 92000,
 '[0].demographics.address.[0].location.[0].geopoint.[0].latitude': 10.02332,
 '[0].demographics.address.[0].location.[0].geopoint.[1].longitude': 20.02332,
 '[0].demographics.address.[0].location.[1].meridian': '+UT8',
 '[0].demographics.address.[1].start_date': '2019-02-27T13:11:01.453528',
 '[0].demographics.address.[1].description': 'mailing address',
 '[0].demographics.address.[1].contact_number': '',
 '[0].demographics.address.[1].is_preferred': False,
 '[0].demographics.address.[1].zip': 12123,
 '[0].demographics.address.[1].location': 'PO Box 23423',
 '[0].demographics.address.[2].start_date': '2019-02-27T13:11:01.453528',
 '[0].demographics.address.[2].description': 'working address',
 '[0].demographics.address.[2].contact_number.[0].fax_number': '0234-324',
 '[0].demographics.address.[2].contact_number.[1].mobile_number.[0].area_code': '+63',
 '[0].demographics.address.[2].contact_number.[1].mobile_number.[1].number': '9914293423',
 '[0].demographics.address.[2].is_preferred': False,
 '[0].demographics.address.[2].zip': 123258,
 '[0].demographics.address.[2].location': '221 Baker Street',
 '[1].demographics.awh_id': '1ac9dc3ce4fa83906374505bf91d0f1c',
 '[1].demographics.active': True,
 '[1].demographics.deceased.is_dead': False,
 '[1].demographics.deceased.year': '',
 '[1].demographics.address.[0].start_date': '2013-03-27T13:11:01.454978',
 '[1].demographics.address.[0].is_recent': False,
 '[1].demographics.address.[0].zip': 17158,
 '[1].demographics.address.[0].country': 'KHM',
 '[2].demographics.awh_id': '2ac9dc3ce4fa83906374505bf91d0f1c',
 '[2].demographics.active': True,
 '[2].demographics.address.[0].country': 'KHM'}

In [791]:
dx_normalize_df = json_normalize(dx_flatten)

dx_normalize_df.T.to_csv('raw_output_df.csv',sep=',')

In [774]:
list(dx_normalize_df.columns)

['demographics.active',
 'demographics.address.[0].contact_number',
 'demographics.address.[0].description',
 'demographics.address.[0].is_preferred',
 'demographics.address.[0].location.[0].geopoint.[0].latitude',
 'demographics.address.[0].location.[0].geopoint.[1].longitude',
 'demographics.address.[0].location.[1].meridian',
 'demographics.address.[0].start_date',
 'demographics.address.[0].zip',
 'demographics.address.[1].contact_number',
 'demographics.address.[1].description',
 'demographics.address.[1].is_preferred',
 'demographics.address.[1].location',
 'demographics.address.[1].start_date',
 'demographics.address.[1].zip',
 'demographics.address.[2].contact_number.[0].fax_number',
 'demographics.address.[2].contact_number.[1].mobile_number.[0].area_code',
 'demographics.address.[2].contact_number.[1].mobile_number.[1].number',
 'demographics.address.[2].date_input',
 'demographics.address.[2].description',
 'demographics.address.[2].is_preferred',
 'demographics.address.[2].location',
 'demographics.address.[2].zip',
 'demographics.awh_id',
 'demographics.deceased.is_dead',
 'demographics.org']

In [761]:
foo_df = pd.DataFrame()
foo_df = flat_json_dx
foo_df

{'demographics.awh_id': 'c92118421a1f8a87a73dadcd954dd75e',
 'demographics.active': True,
 'demographics.deceased.is_dead': False,
 'demographics.address.add_date': '2019-02-27T13:11:01.453528',
 'demographics.address.commnty': 'New community',
 'demographics.address.is_recent': False,
 'demographics.address.zip': 121217158,
 'demographics.address.country': 'KHM'}

## TODO: ITERATE OVER LIST and MERGE normalize headers

In [564]:
input_data_df = pd.DataFrame()
input_data_df = json_flat_norm_0
input_data_df = input_data_df.append(json_flat_norm_1, sort=True)
input_data_df = input_data_df.append(json_flat_norm_2, sort=True)
input_data_df.sort_values(['demographics.awh_id']).reset_index(drop=True)
#input_data_df.sort_values(p'd)

,demographics.active,demographics.address.add_date,demographics.address.commnty,demographics.address.country,demographics.address.is_recent,demographics.address.zip,demographics.awh_id,demographics.deceased.is_dead,demographics.deceased.year
0,True,2013-03-27T13:11:01.454978,NaN,KHM,False,17158.0,1ac9dc3ce4fa83906374505bf91d0f1c,False,
1,True,NaN,NaN,KHM,NaN,NaN,2ac9dc3ce4fa83906374505bf91d0f1c,NaN,NaN
2,True,2019-02-27T13:11:01.453528,New community,KHM,False,121217158.0,c92118421a1f8a87a73dadcd954dd75e,False,NaN

In [565]:
type(input_data_df)

pandas.core.frame.DataFrame

## Clean input data column header

In [566]:
input_data_df.columns = input_data_df.columns.str.lower().str.replace('/','.')
input_data_df

,demographics.active,demographics.address.add_date,demographics.address.commnty,demographics.address.country,demographics.address.is_recent,demographics.address.zip,demographics.awh_id,demographics.deceased.is_dead,demographics.deceased.year
0,True,2019-02-27T13:11:01.453528,New community,KHM,False,121217158.0,c92118421a1f8a87a73dadcd954dd75e,False,NaN
0,True,2013-03-27T13:11:01.454978,NaN,KHM,False,17158.0,1ac9dc3ce4fa83906374505bf91d0f1c,False,
0,True,NaN,NaN,KHM,NaN,NaN,2ac9dc3ce4fa83906374505bf91d0f1c,NaN,NaN

## Get Mapping

In [567]:
mapping_df = pd.read_csv(mapping_file, skiprows=0)
mapping_df

                     source_key      destination_key
0           demographics.awh_id  demographics.awh.id
1  demographics.address.country      address.country
2  demographics.address.commnty      address.commnty
3      demographics.address.zip          address.zip

## Get values input data that are included mapping

In [568]:
selected_data_df = pd.DataFrame()
selected_data_df = input_data_df[list(mapping_df['source_key'])]
selected_data_df

,demographics.awh_id,demographics.address.country,demographics.address.commnty,demographics.address.zip
0,c92118421a1f8a87a73dadcd954dd75e,KHM,New community,121217158.0
0,1ac9dc3ce4fa83906374505bf91d0f1c,KHM,NaN,17158.0
0,2ac9dc3ce4fa83906374505bf91d0f1c,KHM,NaN,NaN

## Renamce source header fields into destination header fields

In [569]:
selected_data_df.columns = list(mapping_df['destination_key'])
selected_data_df

,demographics.awh.id,address.country,address.commnty,address.zip
0,c92118421a1f8a87a73dadcd954dd75e,KHM,New community,121217158.0
0,1ac9dc3ce4fa83906374505bf91d0f1c,KHM,NaN,17158.0
0,2ac9dc3ce4fa83906374505bf91d0f1c,KHM,NaN,NaN

## Encode to as Filesystem (HDFS) or S3 (avro) format)

## Decode for cleaning

## Decode to for computation

## Decode to for analytics transformation

## Transform flat file into output schema format

In [570]:
flat_json = ''
flat_json = selected_data_df.to_json(orient='records')
json_json = json.loads(flat_json)
json_json

[{'demographics.awh.id': 'c92118421a1f8a87a73dadcd954dd75e',
  'address.country': 'KHM',
  'address.commnty': 'New community',
  'address.zip': 121217158.0},
 {'demographics.awh.id': '1ac9dc3ce4fa83906374505bf91d0f1c',
  'address.country': 'KHM',
  'address.commnty': None,
  'address.zip': 17158.0},
 {'demographics.awh.id': '2ac9dc3ce4fa83906374505bf91d0f1c',
  'address.country': 'KHM',
  'address.commnty': None,
  'address.zip': None}]

## Convert dot notated fields into nested json

In [571]:
input_file = 'data/data.json'
with open(input_file) as f:
    d = (f)

In [572]:

def dot_to_json(a):
    output = {}
    for key, value in a.items():
        path = key.split('.')[1:]  # ignore the json. prefix
        #path = key
        target = reduce(lambda d, k: d.setdefault(k, {}), path[:-1], output)
        target[path[-1]] = value
    return output
 
data = {'json.message.status.time':50, 'json.message.code.response':80, 'json.time':100}
type(data)


data

{'json.message.status.time': 50,
 'json.message.code.response': 80,
 'json.time': 100}

## data

In [573]:
data

{'json.message.status.time': 50,
 'json.message.code.response': 80,
 'json.time': 100}

## dot data

In [574]:
dict_json = dot_to_json(data)
dict_json

{'message': {'status': {'time': 50}, 'code': {'response': 80}}, 'time': 100}

## dictionary to json

In [575]:
def _dict2json(results):
    counter = 0
    data = []

    for row in results: 
        data.append(json.dumps(row))
        counter += 1
    
    return data

json_dict = _dict2json(dict_json) 
json_dict

['"message"', '"time"']